{{#contentFor "body_class"}}post-template{{/contentFor}}

{{!< default}}
{{!--
This is a custom template for a route defined in routes.yaml.
It lists all posts on a dedicated /archive/ page.
--}}
{{>content-header}}

<main id="site-main" class="site-main">
    <article class="{{post_class}}">

    <header class="post-header">
        {{!-- The title will be provided by routes.yaml --}}
        <h1 class="post-title">Archive</h1>
    </header>

    <section class="post-content">
        {{!-- The #get helper fetches all our posts --}}
        {{#get "posts" limit="all" fields="title,slug,url,published_at" include="tags" order="published_at desc"}}
        <div class="post-archive-list">
            {{#foreach posts}}
            <div class="post-archive-item">
                <time class="post-archive-item-date post-archive-date-pill" datetime="{{date published_at format="YYYY-MM-DD"}}">
                    {{date published_at format="MMMM D, YYYY"}}
                </time>
                <a href="{{@site.url}}/{{slug}}/" class="post-archive-item-title">{{title}}</a>
                {{#if tags}}
                <span class="post-archive-item-tags">
                    {{#foreach tags}}
                        <a href="{{url}}" class="post-archive-tag tag-{{slug}}">{{name}}</a>
                    {{/foreach}}
                </span>
                {{/if}}
            </div>
            {{/foreach}}
        </div>
        {{/get}}
    </section>

</article>
</main>